/* app/assets/stylesheets/dogs.css */

body {
    background-color: lightgrey !important;
    display: flex;
  }
/* 
  #dog_form {
    margin-top: 200px;
    margin-left: 200px;
  } */
  
  #dog_form, #dog_image {
    flex: 1;
    /* padding: 20px; */
  }

  .breed-name {
    font-size: 1em;
    font-weight: bold;
    color: green;
    text-align: center;
  }

  .field-ratio {
    background-color: GhostWhite;
    border-bottom: 1px solid;
    border-color: white;
  }

  .not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150%;
  }